
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

html[xmlns] .clearfix {
  display: block
}

* html .clearfix {
  height: 1%
}

* {
  margin: 0;
  box-sizing: border-box
}

div {
  box-sizing: border-box;
  text-align: left;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

a,
li,
p,
span {
    font-size: 14px
}


.heading h1,
body {
    font-family: lato, sans-serif
}

#mngbac a,
* {
    padding: 0
}

* {
  margin: 0;
  box-sizing: border-box
}

li,
ul {
    list-style: none
}

a {
    text-decoration: none
}

.list2 a,
.sub-venue,
.sub-venue h4,
.venue,
pre {
    text-align: center
}

pre {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  margin: 10px 0;
  padding: 30px 0;
  background-image: url(/public/dpslogo.png);
  background-size: 100% 100%
}


h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none
}

h3 {
  font-size: 14px;
  color: #fff;
  padding: 12px
}